<h1>シフト一覧</h1>

<% base = @base_date %>
<% month_start = @base_date.beginning_of_month %>
<% month_end   = @base_date.end_of_month %>

<% # カレンダーを　六週分に固定（静的） %>
<% calendar_start = month_start.beginning_of_week(:sunday) %>
<% calendar_end = month_end.end_of_week(:sunday) %>

<div class="calendar-container">
  <div class="calendar-header">
    <%= link_to "<", shifts_path(month: @base_date.prev_month.strftime("%Y-%m")) %>
    <h2><%= @base_date.strftime('%Y年%m月') %></h2>
    <%= link_to ">", shifts_path(month: @base_date.next_month.strftime("%Y-%m")) %>
  </div>

  <table class="calendar">
    <thead>
      <tr>
        <th>日</th>
        <th>月</th>
        <th>火</th>
        <th>水</th>
        <th>木</th>
        <th>金</th>
        <th>土</th>
      </tr>
    </thead>
    <tbody>
      <% 6.times do |week| %>
        <tr>
          <% 7.times do |wday| %>
            <% day = calendar_start + (week * 7 + wday).days%>
            <% shifts = @shifts_by_date[day] || [] %>

            <td class="<%= 'is-other-month' if day.month != @base_date.month %>">
              <div class="calendar-day-number">
                <%= link_to day.strftime("%Y-%m-%d"), new_shift_path(work_date: day) %>
              </div>

                <% if shifts.any? %>
                  <ul class="calendar-shifts">
                    <% shifts.each do |shift| %>
                      <li class="calendar-shift-item">
                        <%= link_to shift_path(shift) do %>
                          <%= shift.start_time&.strftime("%H:%M") %>~
                          <%= shift.end_time&.strftime("%H:%M") %>
                        <% end %>
                      </li>
                    <% end %>
                  </ul>
                <% end %>
            </td>
            <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="calendar-actions">
    <%= link_to 'シフト登録', new_shift_path, class: "btn btn-primary" %>
  </div>
</div>

            

